@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    background-color: #F6F6F6;
}
.shrft{
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
}
h3{
    display: flex;
    justify-content: center;
    color: red;
    font-family: Verdana;
}
.tashkent{
    display: flex;
    color: #FF00FF;
    text-align: right;
}
.london{
    color: blue;
    display: flex;
    text-align: center;

}
.moskva{
    color: red;
    display: flex;
    text-align: left;
}
img{
    width: 200px;
    height: 125px;
}